{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Bunsen Bunnies/ CDS Home</title>
    <!-- below are 'links' to the CSS pages.reset.css clears any previous settings -->
        <link rel="stylesheet" type="text/CSS" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Shadows+Into+Light" rel="stylesheet">
        <!-- Blog.css is for the Django Tutorial I have merged in the old style sheet here.-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    
    <body>
        
        <section>
            <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunnyHead.gif" %}" />
        </div>
    </section>
    
     <!-- HEADER SECTION -->
    <section class="head">
        <div class="col span_1_of_12">
            <a href="https://celticdragonstudios.myportfolio.com"><img src="{% static "IMG/BBLOGO120/ICON/HOME120.gif" %}" alt="Gallrey Button" height="80" width="80"></a>
            <!--Home button to go here - will link back to the top of the main page.-->
        </div>
        <!--Above to contain Main Banner - BB or CDS page appropriate -->
        <div class="col span_1_of_12 ">

            <a href="https://www.facebook.com/CelticDragonStudios"><img src="{% static "IMG/BBLOGO120/ICON/CDS-FB120.gif" %}" alt="CDS facebook link" height="80" width="80" /></a>
        </div>
        <!-- For FB link & Icon -->
        <div class="col span_1_of_12 ">

            <a href="https://www.facebook.com/NonCompusMentisVelCorpis/"><img src= "{% static "IMG/BBLOGO120/ICON/BB-FB120.gif" %}" alt="BB facebook link" height="80" width="80" /></a>
        </div>

        <div class="col span_1_of_12">

            <a href="https://twitter.com/NCMVC"><img src="{% static "IMG/BBLOGO120/ICON/TWITTER120.gif" %}" alt="Twitter link " height="80" width="80" /></a>
        </div>
        <!-- For Twitter Link & Icon -->

        <div class="col span_1_of_12">
            <a href="https://www.behance.net/CelticDragonStudios"><img src="{% static "IMG/BBLOGO120/ICON/BEHANCE120.gif" %}" alt="Behance" height="80" width="80" /></a>
        </div>
        <!-- For Behance Link & Icon -->

        <div class="col span_1_of_12">
            <a href="http://celticdragonstudios.tumblr.com"><img src="{% static "IMG/BBLOGO120/ICON/TUMBLR120.gif" %}" alt="Tumblr Link" height="80" width="80"></a>
        </div>
        <!-- For Tumblr Link & Icon -->

        <div class="col span_1_of_12">
            <a href="mailto:dragon@celticdragonstudios.co.uk"><img src="{% static "IMG/BBLOGO120/ICON/MAIL120.gif" %}" alt="email link" height="80" width="80" /></a>
        </div>
        <!-- For Mailto Lik & Icon -->
    
</section>
        <section> <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunny.gif" %}" />
        </div></section>
        <section class="message">
             
        <div>
        <img src="{% static "IMG/BBLOGO120/Content/SIDE-A.gif" %}" alt="Wedding Image" height="auto" width="auto" />
        </div>
       
            <div class="intro">
            <p>
                <H1> Welcome to the new incarnation of the Bunsen Bunnies and Celtic Dragon Studios Website.</H1>
                <h2> Message From Ann (Artist)</h2>
                <h3>I hope you like the look of the new website! I am still tinkering away on it in the background so small details may continue to change over the upcoming days.</h3> 
                <h3>The last few pages of Issue 8 are in progress, the remaining pages have been sketched out and are being completed digitally so should be ready ASAP.</h3>
                <h3>John and I have been working hard in the background to relaunch Bunsen Bunnies after the Year or so off, Getting married was brilliant yet very time consuming. We have discussed the planned schedule for the comic and have decided that in order to keep it running without the artist (me) cracking up, some changes would be needed. Firstly,  will be posing completed pages as and when they complete, normally in batches of 5 or so at a time instead of the page a week schedule we ran previously. Secondly we are also working on other projects such as the Bugs and Boiled Eggs Meerkat series, so the Bunsen Bunnies issues may be interspersed with other tales when appropriate.</h3>
                <h3>The Blog at the bottom of the page should update with details of progress and upcoming Comic pages reasonably regularily. Please feel free to submit Questions for both John and I to respond to here!</h3>
                <h3>So please email in any comic related queries you have to <a href="mailto:dragon@celticdragonstudios.co.uk">creators@bunsenbunnies.co.uk </a></h3> 
            </p>
            </div>
        <div class="intro"><h2> Please use the following icon to visit the main gallery:<a href="https://celticdragonstudios.myportfolio.com"><img src="{% static "IMG/BBLOGO120/ICON/HOME120.gif" %}" alt="Gallrey Button" height="72px" width="72px"></a></h2></div>
          
       
        </section>
        
        <section>
      <section>
 <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunnyArchive.gif" %}" />
        </div>
          </div>          
        <div class="Archive">
<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-1"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I01BB2.gif" %}" alt="issue 3" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-2"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I02BB2.gif" %}" alt="issue 3" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-3"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I03BB2.gif" %}" alt="issue 5" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-4"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I04BB2.gif" %}" alt="issue 7" height="auto" width="75%"/></a>
          </div>
             </section>
      <section>
<div class="Archive">
<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-5"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I05BB2.gif" %}" alt="issue 2" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-6"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I06BB2.gif" %}" alt="issue 4" height="auto" width="75%"/></a>

<a href="../PGS/BBI06.html"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I07BB2.gif" %}" alt="issue 6" height="auto" width="75%"/></a>

<a href="../PGS/BBI08.html"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I08BB2.gif" %}" alt="issue 8" height="auto" width="75%"/></a>
    </div>
             </section>
      <section>
<div class="Archive">
   
<a href="https://celticdragonstudios.myportfolio.com/meerkat-madness-2014"><img src="{% static "IMG/BBLOGO120/ARCHIVE/BBE2.gif" %}" alt="bugs & Boiled eggs" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/inktober-2014"><img src="{% static "IMG/BBLOGO120/ARCHIVE/INK2.gif" %}" alt="Inktober" height="auto" width="75%"/></a>
      
    </div>
          </section>
        </section>

  <section>
        <!--Django Tutorial code below this point for the Blog. -->    
    <section class="News">
        <div>
         <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunnyBlog.gif" %}" />
        </div>
            
        <div class="col span_12_of_12">
            
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
  
                    {% block content %}
                    {% endblock content %}
                    
                
                </div>
            </div>
        </div>
        </div>
            </div>
     
      
            </section>
        </section>

    </body>
        <section>
            
            
        <div class="page-foot">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>           
    {% endif %}
            
    <h1> All content is copyright to Ann L Harrison and John V Clerkin 2016/17</h1>
            
            
        </div>
        </section>
</html>
            