{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Bunsen Bunnies/ CDS Home</title>
    <!-- below are 'links' to the CSS pages.reset.css clears any previous settings -->
        <link rel="stylesheet" type="text/CSS" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Blog.css is for the Django Tutorial I have merged in the old style sheet here.-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    
    <body>
        
        <section>
            <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunnyHead.gif" %}" />
        </div>
    </section>
    
     <!-- HEADER SECTION -->
    <section class="head">
        <div class="col span_1_of_12">
            <a href="https://celticdragonstudios.myportfolio.com"><img src="{% static "IMG/BBLOGO120/ICON/HOME120.gif" %}" alt="Gallrey Button" height="80" width="80"></a>
            <!--Home button to go here - will link back to the top of the main page.-->
        </div>
        <!--Above to contain Main Banner - BB or CDS page appropriate -->
        <div class="col span_1_of_12 ">

            <a href="https://www.facebook.com/CelticDragonStudios"><img src="{% static "IMG/BBLOGO120/ICON/CDS-FB120.gif" %}" alt="CDS facebook link" height="80" width="80" /></a>
        </div>
        <!-- For FB link & Icon -->
        <div class="col span_1_of_12 ">

            <a href="https://www.facebook.com/NonCompusMentisVelCorpis/"><img src= "{% static "IMG/BBLOGO120/ICON/BB-FB120.gif" %}" alt="BB facebook link" height="80" width="80" /></a>
        </div>

        <div class="col span_1_of_12">

            <a href="https://twitter.com/NCMVC"><img src="{% static "IMG/BBLOGO120/ICON/TWITTER120.gif" %}" alt="Twitter link " height="80" width="80" /></a>
        </div>
        <!-- For Twitter Link & Icon -->

        <div class="col span_1_of_12">
            <a href="https://www.behance.net/CelticDragonStudios"><img src="{% static "IMG/BBLOGO120/ICON/BEHANCE120.gif" %}" alt="Behance" height="80" width="80" /></a>
        </div>
        <!-- For Behance Link & Icon -->

        <div class="col span_1_of_12">
            <a href="http://celticdragonstudios.tumblr.com"><img src="{% static "IMG/BBLOGO120/ICON/TUMBLR120.gif" %}" alt="Tumblr Link" height="80" width="80"></a>
        </div>
        <!-- For Tumblr Link & Icon -->

        <div class="col span_1_of_12">
            <a href="mailto:dragon@celticdragonstudios.co.uk"><img src="{% static "IMG/BBLOGO120/ICON/MAIL120.gif" %}" alt="email link" height="80" width="80" /></a>
        </div>
        <!-- For Mailto Lik & Icon -->
    
</section>
        <section>
        <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunny.gif" %}" />
        </div>
            <div class="intro">
            <p>
                <h2>Ok bunny fans, a long update to keep you in the loop. The main points of which are <ul><li>1) We haven't gone anywhere; we are coming back <li>2) We are moving to a new model for uploading the comic <li>3) there's going to be a major from the ground up site upgrade happening in the near future</ul></h2>
            <h2>The last year for Bunsen Bunnies has been a bit busy. We were delighted to announce that the artist Ann and the writer John got engaged back in in June 2015! They will be getting married in May.</h2>
            <h3>However this happy news somewhat unexpectedly derailed Ann's comic page production schedule. It turns out even small weddings take far more time and organisation than she thought and along with her lecturing work increasing this year, it sadly meant pages ceased to update back in September; with some slightly more random posts through the year. Do not fret bunny fans we have not given up! We have the remainder of the current issue in the works and will upload it all at once when the Upgrade arrives. </h3>
            <h3>To introduce the upcoming Upgrade, Ann has been creating a redesign for the Bunsen Bunnies site in order to include the other comics (one offs & short stories) that the creation crew have been involved in over the years and are currently involved with, and more gallery's of associated and random art. This she decided would be best to update by the Issue.</h3>
            <h3>Our plan is to announce each update & or Issue on the Twitter and FaceBook sites so viewers can tell when we have new material. We are unlikely to regain our weekly posting schedule sadly due to current work commitments and want to make the Bunsen Bunnies comics to the best standard possible, Hence posting by the Issue as and when they are completed.</h3>
            <h3>We will be running a Blog on the new site which will update regularly with sneak peaks and character Bios from the stories. In addition to this we will also answer questions emailed to us via the Blog Although this will be on more of a by the question timescale, So please email on in any comic related queries you have to <a href="mailto:creators@bunsenbunnies.co.uk">creators@bunsenbunnies.co.uk </a></h3>
            <h3>While we do plan to attend some conventions this year we have a smaller selection planned which we will announce as they confirm. We do plan to attend Thought Bubble in Leeds this November but will be attendees rather than having a table. Should anyone want to arrange to meet us for tea and a chat in Leeds throw us an email on over & we can arrange that!</h3>
            <h3>In light of this we will be relaunching the website this summer with new and old content all refreshed and hopefully far easier to locate & navigate. I hope you will all come back then for the Grand reopening.</h3>
            <h3>To recap then, We aren't abandoning Bunsen Bunnies, We will be back and with a swanky new site to boot And we will advertise the relaunch on Facebook and Twitter.</h3>                
            </p>
            </div>
        </section>
        
        <section>
      <section>
 <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunnyArchive.gif" %}" />
        </div>
          </div>          
        <div class="Archive">
<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-1"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I01BB2.gif" %}" alt="issue 3" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-2"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I02BB2.gif" %}" alt="issue 3" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-3"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I03BB2.gif" %}" alt="issue 5" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-4"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I04BB2.gif" %}" alt="issue 7" height="auto" width="75%"/></a>
          </div>
             </section>
      <section>
<div class="Archive">
<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-5"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I05BB2.gif" %}" alt="issue 2" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/bunsen-bunnies-issue-6"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I06BB2.gif" %}" alt="issue 4" height="auto" width="75%"/></a>

<a href="../PGS/BBI06.html"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I07BB2.gif" %}" alt="issue 6" height="auto" width="75%"/></a>

<a href="../PGS/BBI08.html"><img src="{% static "IMG/BBLOGO120/ARCHIVE/I08BB2.gif" %}" alt="issue 8" height="auto" width="75%"/></a>
    </div>
             </section>
      <section>
<div class="Archive">
   
<a href="https://celticdragonstudios.myportfolio.com/meerkat-madness-2014"><img src="{% static "IMG/BBLOGO120/ARCHIVE/BBE2.gif" %}" alt="bugs & Boiled eggs" height="auto" width="75%"/></a>

<a href="https://celticdragonstudios.myportfolio.com/inktober-2014"><img src="{% static "IMG/BBLOGO120/ARCHIVE/INK2.gif" %}" alt="Inktober" height="auto" width="75%"/></a>
      
    </div>
          </section>
        </section>

  <section>
        <!--Django Tutorial code below this point for the Blog. -->    
    <section class="News">
        <div>
         <div class="banner">
            <img src="{% static "IMG/BBLOGO120/Banners/BannerBunnyBlog.gif" %}" />
        </div>
        
        <div class="col span_12_of_12">
            
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
  
                    {% block content %}
                    {% endblock content %}
                    
                
                </div>
            </div>
        </div>
        </div>
            </div>
     
        <!-- Twitter Widget for Annimated Dragon -->
        </div>
            </section>
        </section>

    </body>
        <section>
            
            
        <div class="page-foot">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>           
    {% endif %}
            
    <h1> All content is copyright to Ann L Harrison and John V Clerkin 2016/17</h1>
            
            
        </div>
        </section>
</html>
            