{% extends 'blog/base.html' %}
<!-- HEADER SECTION -->
<header>

    <section class="head">
        <div class="col span_1_of_12">
            <a href="index.html"><img src="IMG/BBLOGO120/HOME120.gif" alt="Home button" height="80" width="80"></a>
            <!--Home button to go here - will link back to the top of the main page.-->
        </div>
        <!--Above to contain Main Banner - BB or CDS page appropriate -->
        <div class="col span_1_of_12 ">

            <a href="https://www.facebook.com/CelticDragonStudios"><img src="{% static "IMG/BBLOGO120/CDS-FB120.gif" %}" alt="CDS facebook link" height="80" width="80" /></a>
        </div>
        <!-- For FB link & Icon -->
        <div class="col span_1_of_12 ">

            <a href="https://www.facebook.com/NonCompusMentisVelCorpis/"><img src= "{% static "IMG/BBLOGO120/BB-FB120.gif" %}" alt="BB facebook link" height="80" width="80" /></a>
        </div>

        <div class="col span_1_of_12">

            <a href="https://twitter.com/NCMVC"><img src="{% static "IMG/BBLOGO120/TWITTER120.gif" %}" alt="Twitter link " height="80" width="80" /></a>
        </div>
        <!-- For Twitter Link & Icon -->

        <div class="col span_1_of_12">
            <a href="https://www.behance.net/CelticDragonStudios"><img src="{% static "IMG/BBLOGO120/BEHANCE120.gif" %}" alt="Behance" height="80" width="80" /></a>
        </div>
        <!-- For Behance Link & Icon -->

        <div class="col span_1_of_12">
            <a href="http://celticdragonstudios.tumblr.com"><img src="{% static "IMG/BBLOGO120/TUMBLR120.gif" %}" alt="Tumblr Link" height="80" width="80"></a>
        </div>
        <!-- For Tumblr Link & Icon -->

        <div class="col span_1_of_12">
            <a href="mailto:dragon@celticdragonstudios.co.uk"><img src="{% static "IMG/BBLOGO120/MAIL120.gif" %}" alt="email link" height="80" width="80" /></a>
        </div>
        <!-- For Mailto Lik & Icom -->
        <div class="col span_1_of_12">
            <a href="https://www.etsy.com/uk/shop/CelticDragonStudios"><img src="{% static "IMG/BBLOGO120/ETSY120.gif" %}" alt="Etsy Shop Link" height="80" width="80" /></a>
        </div>
        <!--etsy Page -->
        <div class="col span_1_of_12">
            <a href="PGS/about.html"><img src="{% static "IMG/BBLOGO120/ABOUT120.gif" %}" alt="about us" height="80" width="80" /></a>
        </div>
        <!--About Page -->
        <div class="col span_1_of_12">
            <a href="PGS/cast.html"><img src="{% static "IMG/BBLOGO120/CAST120.gif" %}" alt="cast page" height="80" width="80" /></a>
        </div>
        <!--cast Page -->

        <div class="col span_1_of_12">
            <a href="http://celticdragonstudios.myportfolio.com/"><img src="{% static "IMG/BBLOGO120/GALLERY120.gif" %}" alt="Gallery Page" height="80" width="80" /></a>
        </div>
        <!--Gallery Page -->

        <div class="col span_1_of_12">
            <a href="PGS/archive.html">
<img src="{% static "IMG/BBLOGO120/ARCHIVE120.gif" %}" alt="CDS Archive" height="80" width="80" /></a>
                
        </div>
        <!--Archive Page -->

    </section>
    <section>
        <div class="col span_12_of_12">

            <img src="IMG/SLIDER/BANNER.gif" />
        </div>
    </section>
</header>